<div class="news_content">
    <a class="news_box" href="">
        <div class="content_box_content">
            <div class="news_image"></div>
            <div class="news_textcontent">
                <h5 class="news_type">notice</h5>
                <h4>Update 2.1.2</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
            </div>
        </div>
    </a>
     <a class="news_box" href="">
        <div class="content_box_content">
            <div class="news_image"></div>
            <div class="news_textcontent">
                <h5 class="news_type">notice</h5>
                <h4>Update 2.1.2</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
            </div>
        </div>
    </a>
        <a class="news_box" href="">
        <div class="content_box_content">
            <div class="news_image"></div>
            <div class="news_textcontent">
                <h5 class="news_type">notice</h5>
                <h4>Update 2.1.2</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
            </div>
        </div>
    </a>
</div>