<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="../JS/HttpHandler.js"></script>
</head>
<body>
<%
const loggedIn = locals.user;
function isActive(type)
{
    if(!isset(typeof MENU_SITE)) return "menu_li";
    if(MENU_SITE == type)
        return "menu_li menu_active";
    return "menu_li";
}
%>
<div id="menu">
    <div id="menu_left">
        <div id="menu_logo">
        <img src="./images/<%= logo %>" alt="Logo">
        </div>
        <p id="activeUsers">2000 Online</p>
        <div class="seperator"></div>
        <ul>
            <li><a class="underline" href=""><span>home</span></a></li>
            <li><a class="underline" href=""><span>forum</span></a></li>
            <li><a class="underline" href=""><span>vote</span></a></li>
            <li><a class="underline" href=""><span>play</span></a></li>
            <li><a class="underline" href=""><span>ranking</span></a></li>
        </ul>
    </div>
    <div id="menu_right">
        <p><a class="underline" href=""><span>sign in</span></a></p>
        <div class="seperator"></div>
        <div class="btn_parent">
            <div class="btn-a btn"><a class="child" href=""><span>PLAY <%= settings.serverName %></span></a></div>
        </div>
    </div>
</div>
