.mod_grid {
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto auto;
}
.mod_grid_item {
    background:#FFF;
    min-height:5rem;
    border-radius:1rem;
    overflow: hidden;
    box-shadow:0 0 0 0.12rem #e8f2ff;
    transition:ease 0.15s;
    cursor:pointer;
}
.mod_grid_item_image {
    height:12rem;
    background:#FFF;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    position: relative;
}
.mod_grid_item:hover {
    transform: translateY(-0.5rem);
    box-shadow:0 0rem 0 0.12rem #e8f2ff,0 0.38rem 0 0.12rem #e8f2ff;
}
.mod_grid_item:active {
    transform: translateY(0rem);
    box-shadow:0 -0rem 0 0.12rem #e8f2ff;
}
.mod_grid_item_content {
    min-height:4rem;
    display:flex;
}
.mod_grid_item_content h2{
    margin:auto;
    margin-left:1rem;
    font-size:1rem;
}
.mod_grid_blur,.mod_grid_fg {
    background:Red;
    position: absolute;
    left:0;
    top:0;
    background:Red;
    width:100%;
    height:100%;
}
.mod_grid_blur {
    opacity:0.05;
    background-size: cover !important;
}
