{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier","@typescript-eslint"],
  "rules": {
    "no-plusplus": 0,
    "no-unused-vars": 0,
    "consistent-return": 0,
    "dot-notation": 0,
    "camelcase": 0,
    "no-bitwise": 0,
    "no-continue": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["./public/**/*"],
      "rules": {
        "@typescript-eslint/*": 0,
        "require-jsdoc": 0,
        "import/extensions": 0,
        "import/no-unresolved": 0
      }
    },
    {
      "files": ["./src/**/*"],
      "rules": {
        "prettier/prettier": ["error"],
        "no-param-reassign": ["error", { "props": false }],
        "import/no-extraneous-dependencies": 0,
        "@typescript-eslint/no-unused-vars": "error",
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "ts": "never",
            "js": "never"
          }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src/**/*"],
        "extensions": [".js", ".ts"]
      }
    }
  }
}
