../MapleCharacterGenerator/gd/
MapleCharacterGenerator/Characters/
node_modules/
library/
*.psd
*.wz
settings/setup.MN
settings/database.MN
dist/
dist/*
src/MapleCharacterGenerator/gd/
upload/*
upload/
docs/
nodeconfig.json
