<%

if(!isset(typeof settings))
{
    settings = {};
}
let MENU_SITE = "HOME";
name = settings.serverName;
%>
<!doctype html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="CSS/status.css">  
    <link rel="stylesheet" type="text/css" href="CSS/menu.css">           
    <link rel="stylesheet" type="text/css" href="CSS/header.css">  
    <link rel="stylesheet" type="text/css" href="CSS/status.css">    
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
    <link rel="stylesheet" type="text/css" href="CSS/news.css">  
    <link rel="stylesheet" type="text/css" href="CSS/ranking.css"> 
    <link rel="stylesheet" type="text/css" href="CSS/control.css">
    <link rel="stylesheet" type="text/css" href="CSS/media.css">    
    <% include imports/head %>
               
    <title><%= settings.serverName %></title>
    <% include imports/menu.ejs %>
    <% include panels/header.ejs %>
    <div class="box_wrapper maxWidth">
        
            <div class="control box news_box" style="grid-column:1/10;grid-row:1/2">
                <h2 class="box_title">news_box</h2>
                <% include panels/news.ejs %>
            </div>
            
            <div class="control box ranking_box" style="grid-column:1/4;grid-row:2/4">
                <h2 class="box_title">ranking_box</h2>
                <% include panels/ranking.ejs %>
            </div>
            
            <div class="control box control_box" style="grid-column:4/7;grid-row:2/4">
                <h2 class="box_title">control_box</h2>
                <% include panels/control.ejs %>
            </div>
            
            <div class="control box none_box" style="grid-column:7/10;grid-row:2/4">
                <h2 class="box_title">server_box</h2>
                <% include panels/none.ejs %>
            </div>
            
            <div class="control box none_box" style="grid-column:1/10;grid-row:4/7">
                <h2 class="box_title">stats_box</h2>
                <% include panels/none.ejs %>
            </div>
            
            <div class="control box ranking_box" style="grid-column:1/10;grid-row:7/14">
                <h2 class="box_title">ranking_box</h2>
                <% include panels/ranking.ejs %>
            </div>
            
    </div>
        <script>
        //TODO: CHANGE TO < loadPanelScripts() >
        //CONTROL SCRIPT
        let control_form = new FormElement("control_form");
        let control_error = new ErrorElement("controlError");
        control_form.onSubmit({body:true,preventDefault:true},(body,e)=>
        {
            let data = {username:body.control_name,password:body.control_pass};
            let url = new Url("IO/login",data);
            HttpHandler.postData(url,(response)=>
            {
                console.log(response.reason);
                if(!response.loggedin)
                {
                    return control_error.showError({reason:response.reason});
                }
                control_error.success({reason:response.reason + ". redirecting..."});
                setTimeout(()=>
                {
                    window.location.href = "/dashboard";
                },2500);
            });
            console.log(body); 
        });
        </script>
    </body>
</html>