<!doctype html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="CSS/status.css">
    <link rel="stylesheet" type="text/css" href="CSS/menu.css">
    <link rel="stylesheet" type="text/css" href="CSS/header.css">
    <link rel="stylesheet" type="text/css" href="CSS/status.css">
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
    <link rel="stylesheet" type="text/css" href="CSS/news.css">
    <link rel="stylesheet" type="text/css" href="CSS/ranking.css">
    <link rel="stylesheet" type="text/css" href="CSS/control.css">
    <link rel="stylesheet" type="text/css" href="CSS/media.css">
    <% partial('imports/head') %>

    <title><%= settings.serverName %></title>
    <% partial('imports/menu') %>
    <div class="header">
        <div class="video_bg">
            <video class="bg_video" width="1080" height="720" autoplay muted loop>
                <source src="videos/blurred_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="shadow"></div>
        <div class="video">
        <div class="header_content">
                <div class="header_logo">
                    <img src="./images/svgs/logo.svg" alt="Logo">
                </div>
                <div class="btn_parent">
                    <div class="btn-a btn"><a class="child" href=""><span>PLAY <%= settings.serverName %></span></a></div>
                </div>
            </div>
        <div class="gradient"></div>
        <video autoplay muted loop>
            <source src="videos/vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </div>
    </div>
        <div class="content">
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>news</h2>
                </div>
                <%- include('panels/news.ejs') %>
            </div>
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>server info</h2>
                </div>
            </div>
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>ranking</h2>
                </div>
            </div>
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>stats</h2>
                </div>
            </div>
        </div>
    </div>
        <script>
        //TODO: CHANGE TO < loadPanelScripts() >
        //CONTROL SCRIPT
        /*
        let control_form = new FormElement("control_form");
        let control_error = new ErrorElement("controlError");
        control_form.onSubmit({body:true,preventDefault:true},(body,e)=>
        {
            let data = {username:body.control_name,password:body.control_pass};
            let url = new Url("IO/login",data);
            HttpHandler.postData(url,(response)=>
            {
                console.log(response.reason);
                if(!response.loggedin)
                {
                    return control_error.showError({reason:response.reason});
                }
                control_error.success({reason:response.reason + ". redirecting..."});
                setTimeout(()=>
                {
                    window.location.href = "/dashboard";
                },2500);
            });
            console.log(body);
        });
        */
        </script>
    </body>
</html>
