.news_content
{
   width:100%;
   height:100%;
   display:flex;
   justify-content: space-between;
   padding:0.2rem;
   box-sizing: border-box;
}
.news_box {
    position: relative;
    width:100%;
    max-width:29em;
    min-width:25em;
    height:10em;
    font-size:1em;
    cursor:pointer;
    color:#20063B;
    text-decoration: none;
    border-radius:1em;
    z-index:1;
    background: #69DC9E;
    box-shadow: 0px 0px 0 0.1rem #69DC9E;
}
.content_box_content {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height:100%;
    width:100%;
    box-shadow: 0px 0px 0 0.1rem #20063B;
    border-top-left-radius: 1em;
    background:#FFF;
    transition: ease 0.2s;

}
.content_box_content:hover {
    border-radius:1em;
    border-top-left-radius: 0em;
    transform: translate(-0.6em,-0.6em);
}
.content_box_content:hover .news_image{
    border-bottom-left-radius:1em;
    border-top-left-radius: 0em;
}
.news_box *{
    flex: 1;
}
.news_image {
    font-size:1em;
    transition: ease 0.2s;
    max-width:11em;
    border-top-left-radius: 1em;
    height:100%;
    background:url("https://assets.change.org/photos/8/qc/aw/TJqcAWOsBHXFhBZ-800x450-noPad.jpg?1559979831");
    background-size:cover;
    background-position: 50% 50%;
}
.news_type {
    position: absolute;
    right:1.8rem;
    text-align: right;
    font-size:0.7em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.news_textcontent{
    box-sizing: border-box;
    padding:2em;
    font-family: 'Montserrat', sans-serif;
}
.news_textcontent h4{
    font-size:1rem;
    margin-bottom:1em;
}
.news_textcontent p{
    font-size:0.75em;
}