<div class="mod_grid">
    <% for(let i = 0; i < items.length; i++) {
        const item = items[i];
    %>
    <div class="mod_grid_item">
        <div class="mod_grid_item_image" style="background:<%= item.image %>;"></div>
        <div class="mod_grid_item_content">
            <%- item.content %>
        </div>
    </div>
    <%}%>
</div>
