<header id="header">
    <div id="headerBackground"></div>
    <div id="headerBreaker"></div>
    <div id="headerContent" class="maxWidth">
        <h1><%= name %></h1>
        <div id="fade"></div>
    </div>
</header>