<div class="news_fade"></div>
<div class="news_content">
    <h2>Update 2.31</h2>
    <p>Title title sfgsdfgsdfgsdfghs dfgsdfg sddfgsd gdsfg dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sdfg dfg sdfgffg sdfg sdfg sdfg sdfrg</p>
</div>
<div class="btn btn-white btn-down btn-7">Read more</div>
