<% if(!options.page){
    options.return = "";
} %>
<!doctype html>
<html>
    <%- include("head") %>
    </head>
    <body>
    <div id="wrapper">
        <div id="container">
            <h4>Error</h4>
            <h1>
            <% if(options.error){ %>
                <%= options.error.reason %>
            <% } %>
            </h1>
            <div class="btn prev-btn">
                <a href="./<%= options.return %>" class="btn-wrapper">
                    <div class="ip">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <span>Previous</span>
                </a>
            </div>
        </div>
    </div>
    </body>
</html>
