<!doctype html>
<html>
    <% include head %>
    </head>
    <body>
    <p id="fillField">
        You must fill this field
    </p>
    <div id="wrapper">
        <div id="container">
            <h4>Setup 1/2</h4>
            <h1>Database Connection</h1>
            <form id="form" method="POST" action="">
                <div class="inputWrapper">
                    <input id="host" required name="host" placeholder="localhost">
                    <label for="host">MySQL Host</label>
                </div>
                <div class="inputWrapper">
                    <input id="name" required name="user" placeholder="root">
                    <label for="name">User</label>
                </div>
                <div class="inputWrapper">
                    <input id="password" name="password" placeholder="">
                    <label for="password">Password</label>               
                </div>
                <div class="inputWrapper">
                    <input id="database" required name="database" placeholder="database">
                    <label for="database">Database</label>                
                </div>
                <div class="inputWrapper">
                    <input id="prefix" required name="prefix" placeholder="MN">
                    <label for="prefix">Prefix</label>
                </div>
            </form>
            <div class="btn next-btn">
                <div class="btn-wrapper" id="submitForm">
                <span>Next</span>
                    <div class="ip">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>            
            <div class="btn prev-btn">
                <a href="./" class="btn-wrapper">
                    <div class="ip">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <span>Previous</span>  
                </a>
            </div>
        </div>
    </div>
    <script>
        var form = document.getElementById("form");
        var submitForm = document.getElementById("submitForm");
        var fillField = document.getElementById("fillField");
        var size = fillField.getBoundingClientRect();
        let middle = (size.bottom - size.top) / 2;
        submitForm.addEventListener("click",function()
        {
            var canSend = true;
            var inputs = form.getElementsByTagName("input");
            for(var i = 0; i < inputs.length; i++)
            {
                if(inputs[i].value.length == 0 && inputs[i].getAttribute("required") != null)
                {
                    let pos = inputs[i].getBoundingClientRect();
                    //console.log(pos.);
                    fillField.style.left = "calc("+pos.right + "px + 2em)";
                    fillField.style.top = pos.top - middle + ((pos.bottom - pos.top) / 2) + "px";
                    canSend = false;
                    break;
                }
            }
            if(canSend) {
                submitForm.getElementsByClassName("fas")[0].className = "fas fa-circle-notch fa-spin";
                form.submit();
            }
        },false);
    </script>
    </body>
</html>
