<!doctype html>
<html>
        <%- include('head') %>
        <style>
           .hidden {
                visibility: hidden;
                display:none;
            }
            .pp2 {
                background:black;
                border-top-right-radius: 2em;
                border-bottom-right-radius: 2em;
            }
            .pp1 {
                background:#F3F3F3;
                border-top-left-radius: 2em;
                border-bottom-left-radius: 2em;
            }
            #prev {
                width:100%;
                height:12em;
                display:flex;
            }
            .pp {
                height:100%;
                height:100%;
                flex:1;
                box-sizing: border-box;
                display:flex;
                padding:1.5em;

            }
            .pc {
                flex:1;
                background: url("../images/svgs/logo_single.svg") no-repeat;
                background-size:contain;
                background-position: center;
            }
            .pp3 {
                border-radius: 2em;
                background:#F3F3F3;
                background: url("../images/headerImage.png") no-repeat;
                background-size:cover;
                background-position: center;
            }
            .colors {
                width:100%;
                height:8em;
                background:red;
                border-radius:2em;
                overflow: hidden;
                display:flex;
                position: relative;
            }
            .color {
                flex:1;
                position: relative;
                cursor:pointer;
                transition:ease 0.2s;
            }
            #mainColor {
                background:#69DC9E;
            }
            #secondaryMainColor {
               background:#3E78B2;
            }
            #fontColorLight {
               background:#D3F3EE;
            }
            #fontColorDark {
               background:#20063B;
            }
           #fillColor {
               background:#CC3363;
            }
           .color .edit {
               position: absolute;
               width:2.5em;
               height:2.5em;
               background:#FFF;
               left:0;
               top:0;
               right:0;
               bottom:0;
               margin:auto;
               content:"<i class=\"fas fa-pen\"></i>";
               border-radius:3em;
               display:flex;
               margin:auto;
               opacity:0.2;
               transform: translate(1.2em,-2.2em) scale(0.8);
               transition:ease 0.2s;
           }
           .color:hover .edit {
               transform: translate(0,0) scale(1.1);
               opacity:1 !important;

           }
           .color .edit::before {
               margin:auto;
               color:#000;
               font-size:1.4em;
           }
           .color:hover {

            }
            .colorInput {
                width:80%;
                position: absolute;
                z-index:99;
                left:0;
                right:0;
                top:0;
                bottom:0;
                margin:auto;
                display:flex;
                display:none;
                opacity:0;
                transition:ease 0.2s;
            }
           .colorInput input {
               margin-top:0;
               margin:auto;
           }
           .colorInput label {
               top:0.3em;
               margin:0;
           }
            #saveColor,#exitColor {
                background:#69DC9E;
                width:2.6em;
                height:2.6em;
                position: absolute;
                top:0;
                right:0.6em;
                bottom:0;
                margin:auto;
                border-radius:220em;
                display:flex;
                cursor: pointer;
                transition: ease 0.2s;
            }
           #saveColor i,#exitColor i {
               margin:auto;
               font-size:1em;
               color:#FFF;
           }
           #exitColor {
               right:3.8em;
               background:#cc0000;
           }
           #exitColor:hover {
               background: #963862;
           }
           #saveColor:hover {
               background:#3E78B2;
           }

            .colorListName {
                list-style: none;
                display:flex;
                flex-direction: row;
                font-size:0.85rem;
                width:100%;
                overflow: hidden;
                display:flex;
                position: relative;
            }
           .colorListName li {
               flex:1;
               text-align:center;
               margin:auto;
               padding-left:0.5rem;
               padding-right:0.5rem;
               text-align: center;
               display:flex;
               height:3em;
           }
           .colorListName li span {
               margin:auto;
           }
        </style>
    </head>
    <body>
        <p id="fillField">
            You must fill this field
        </p>
        <div id="wrapper">
            <div id="container">
                <h4>Setup <%= options.name %></h4>
                <h1>Colors</h1>
                <form id="form" method="POST" action="">
                    <div class="inputWrapper">
                        <input id="logo" required name="name" placeholder="BreezySummer">
                        <label for="name">Palette name</label>
                    </div>

                    <div class="inputWrapper">
                        <input id="mainColorInput" value="#69DC9E" name="mainColor" class="hidden">
                        <input id="secondaryMainColorInput" value="#3E78B2" name="secondaryMainColor" class="hidden">
                        <input id="fillColorInput" value="#CC3363" name="fillColor" class="hidden">
                        <input id="fontColorDarkInput" value="#20063B" name="fontColorDark" class="hidden">
                        <input id="fontColorLightInput" value="#D3F3EE" name="fontColorLight" class="hidden">
                    </div>
                    <ul class="colorListName">
                        <li class="colorTitle" id="mainColorTitle"><span>Main Color</span></li>
                        <li class="colorTitle" id="secondaryMainColorTitle"><span>Secondary Main Color</span></li>
                        <li class="colorTitle" id="fillColorTitle"><span>Fill Color</span></li>
                        <li class="colorTitle" id="fontColorDarkTitle"><span>Font Color Dark</span></li>
                        <li class="colorTitle" id="fontColorLightTitle"><span>Font Color Light</span></li>
                    </ul>
                    <div class="colors">
                        <div id="colorInput" class="colorInput inputWrapper">
                            <input id="color" name="color" placeholder="#000, rgba(0,0,0,0), black...">
                            <div id="saveColor"><i class="fas fa-check"></i></div>
                            <div id="exitColor"><i class="fas fa-times"></i></div>
                        </div>
                        <div class="color" id="mainColor"><i class="fas fa-pen edit"></i></div>
                        <div class="color" id="secondaryMainColor"><i class="fas fa-pen edit"></i></div>
                        <div class="color" id="fillColor"><i class="fas fa-pen edit"></i></div>
                        <div class="color" id="fontColorDark"><i class="fas fa-pen edit"></i></div>
                        <div class="color" id="fontColorLight"><i class="fas fa-pen edit"></i></div>
                    </div>
                </form>
                <div class="btn prev-btn">
                    <a href="./template" class="btn-wrapper">
                        <span>Skip</span>
                        <div class="ip">
                            <i class="fas fa-times"></i>
                        </div>
                    </a>
                </div>
                <div class="btn next-btn">
                    <div class="btn-wrapper" id="submitForm">
                    <span>Upload</span>
                        <div class="ip">
                            <i class="fas fa-upload"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
        <script>

            function isColor(strColor){
                var s = new Option().style;
                s.color = strColor;
                return s.color == strColor;
            }

            function isHexColor (hex) {
                return typeof hex === 'string'
                    && hex.length === 7
                    && hex.charAt(0) == '#'
                    && !isNaN(Number('0X'+hex.substring(1)))
            }

            function isRgbaColor(str) {
                if(str.substring(0,4) != 'rgba' && str.substring(0,3) != 'rgb') return false;
                if(str.substring(str.length-1) != ')') return false;
                let regex = str.match(/rgba\(\d+,\d+,\d+,\d+\)/g);
                let regex2 = str.match(/rgb\(\d+,\d+,\d+\)/g);
                return regex != null || regex2 != null;
            }

            function sleep(time) {
                return new Promise(resolve => setTimeout(()=>{
                    resolve();
                },time));
            }
            let colorLabel = document.getElementById("colorLabel");
            let colorInput = document.getElementById("color");
            let colorInputParent = document.getElementById("colorInput");
            let colors = document.getElementsByClassName("color");
            let colorTitles = document.getElementsByClassName('colorTitle');
            let boundColor = null;
            let boundColorHeader = null;
            let colorInputs = {
                mainColor:document.getElementById("mainColorInput"),
                secondaryMainColor:document.getElementById("secondaryMainColorInput"),
                fillColor:document.getElementById("fillColorInput"),
                fontColorDark:document.getElementById("fontColorDarkInput"),
                fontColorLight:document.getElementById("fontColorLightInput"),
            };
            let correctColor = true;
            colorInput.addEventListener("keyup",(e)=> {
                let value = colorInput.value;
                console.log(value,correctColor);
                if(value.length == 0) return;
                if(isColor(value) || isHexColor(value) || isRgbaColor(value)) {
                    boundColor.style.background=value;
                    if(!correctColor) {
                        correctColor = true;
                        save.innerHTML = `<i class="fas fa-check"></i>`;
                    }
                }
                else if(correctColor) {
                    correctColor = false;
                    save.innerHTML = `<i class="fas fa-circle-notch fa-spin"></i>`;
                }
            },false);

            for(let i = 0; i < colors.length; i++) {
                let color = colors[i];
                let editBtn = color.getElementsByClassName("edit")[0];
                color.addEventListener("click",async ()=> {
                    for(let i = 0; i < colorTitles.length; i++) {
                        colorTitles[i].style.display = "none";
                    }
                    const header = document.getElementById(color.id+'Title');

                    header.style.display="flex";
                    header.style.flex="content";
                    header.style.textAlign="center";
                    colorInput.value = colorInputs[color.id].value;
                    color.style.flex = "0 0 100%";
                    editBtn.style.opacity="0";
                    colorInputParent.style.display="flex";
                    await sleep(300);
                    colorInputParent.style.opacity="1";
                    editBtn.style.display="none";
                    boundColor = color;
                    boundColorHeader = header;
                },false);
            }

            let save = document.getElementById("saveColor");
            let cancel = document.getElementById("exitColor");

            save.addEventListener("click",async ()=> {
                let value = colorInput.value;
                if(value.length == 0) return;
                if(isColor(value) || isHexColor(value) || isRgbaColor(value)) {
                    colorInputs[boundColor.id].value = value;
                    await animateOut();
                }
            });

            cancel.addEventListener("click",async ()=> {
                let bg = colorInputs[boundColor.id].value;
                boundColor.style.background = bg;
                await animateOut();
            });

            async function animateOut() {
                for(let i = 0; i < colorTitles.length; i++) {
                    colorTitles[i].style.display = "flex";
                }
                let editBtn = boundColor.getElementsByClassName("edit")[0];
                editBtn.style.display="flex";
                colorInputParent.style.opacity="0";
                await sleep(10);
                boundColor.style.flex = "1";
                editBtn.style.opacity="0.2";
                await sleep(300);
                colorInputParent.style.display="none";
                colorInput.value = "";
                boundColor = null;
                correctColor = true;
                boundColorHeader= null;
                save.innerHTML = `<i class="fas fa-check"></i>`;
            }
    </script>
    <script src="./FormSubmitter.js"></script>
</html>
