<div id="control">
    <%
    if(!isset(typeof user))
    {
    %>
    <div class="loader" id="loginLoader" id="loginLoader">
        <p>Loading</p>    
    </div>
    <form id="loginForm">
        <div class="error" id="loginError">Error</div>
        <div class="inputHolder firstInputHolder">
            <input id="username" class="fill" type="text" name="username" required/>
            <label for="username">Username</label>
        </div>
        <div class="inputHolder">
            <input id="password" class="fill" name="password" type="password" required/>
            <label for="password">Password</label>
        </div>
        <div id="form-btn-holder">
            <div class="btn-a btn-blue"><a href="register">Register</a></div>
            <input type="submit" class="btn btn-green" id="login" value="Login" />
        </div>
    </form>
</div>
<script src="JS/HttpHandler.js"></script>
<script>
    let form = new FormElement("loginForm");
    let error = new ErrorElement("loginError");
    let loader = document.getElementById("loginLoader");
    form.onSubmit({preventDefault:true,body:true},(body,e)=>
    {
        loader.style.display="flex";
        setTimeout(()=>
        {
            loader.style.opacity="1";
        }, 10);
        let url = new Url("/IO/login",{username:body.username,password:body.password});
        HttpHandler.postData(url,(response)=>
        {
            console.log(response);
            
            loader.style.opacity="0";
            setTimeout(()=>
            {
                loader.style.display="none";
            }, 320);
            if(!response.success)
            {
                console.log(response.http.status);
                return;
            }
            else if(!response.loggedin)
            {
                error.showError({reason:response.reason});
                return;
            }
            error.success({reason:response.reason});
            let site = "/dashboard";
            <% if(isset(typeof site)) { %> site = "<% site %>" <% } %>
            window.location.href = site;
            console.log(response.loggedin);
        });
    });
</script>
    <%
    }
    else
    {
    %>
    </div>
    <%
    }
    %>