<div class="status">
    <h2 class="beforeTitle" data-beforeTitleContent="MapleNode is">ONLINE</h2>
    <div id="status_info">
        <ul>
            <li class="beforeTitle" data-beforeTitleContent="Players Online">22</li>
        </ul>
        <ul>
            <li class="beforeTitle" data-beforeTitleContent="Exp Rate"><%= settings.expRate %></li>
            <li class="beforeTitle" data-beforeTitleContent="Drop Rate"><%= settings.dropRate %></li>
            <li class="beforeTitle" data-beforeTitleContent="Meso Rate"><%= settings.mesoRate %></li>
        </ul>
    </div>
    <div class="btn-tilted btn-blue"><a href="./status">More status</a></div>
</div>