<%
if(!isset(typeof settings))
{
    settings = {};
}
%>
<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="CSS/index.css">    
    <link rel="stylesheet" type="text/css" href="CSS/status.css">  
    <link rel="stylesheet" type="text/css" href="CSS/ranking.css"> 
    <link rel="stylesheet" type="text/css" href="CSS/control.css">
    <link rel="stylesheet" type="text/css" href="CSS/media.css">    
    <link rel="stylesheet" type="text/css" href="CSS/menu.css">            
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/tabIcon.png">
    <title><%= settings.serverName %></title>
    </head>
    <body>
    <header id="header">
        <div id="fade"></div>
        <div id="headerContent" class="maxWidth">
            <div id="headerInfo">
                <h1><%= settings.serverName %></h1>
                <p>V83 Maplestory private serverName</p>
                <div class="btn-tilted btn-green"><a href="#">Play</a></div>
                <% if(!isset(typeof user)){ %><div class="btn-tilted btn-blue"><a href="#">Register</a></div><% } %>
            </div>
            <div id="snail"></div> 
            <div id="stump"></div>
            <div id="mushroom"></div>
        </div>
    </header>
    <section id="content" class="maxWidth">
        <div class="block smallBlock">
            <h3 class="blockHeader">Server Status</h3>
            <% include panels/status.ejs %>
        </div>
        <div class="block middleBlock">
            <h3 class="blockHeader">News</h3>
        </div>
        <div class="block smallBlock">
            <h3 class="blockHeader">Control Panel</h3>
            <% include panels/control.ejs %>
        </div>
        <div class="block middleBlock">
            <h3 class="blockHeader">Ranking</h3>
            <% include panels/ranking.ejs %>
        </div>      
    </section>
    <script>
        let mushroom = document.getElementById("mushroom");
        let stump = document.getElementById("stump");
        let snail = document.getElementById("snail");
        let header = document.getElementById("header");
        let moveables = {mushroom:mushroom,stump:stump,snail:snail};
        let objectPositions = {mushroom:{x:0,y:0},snail:{x:0,y:0},stump:{x:0,y:0}};
        let keys = Object.keys(moveables);
        for(let i in keys)
        {
            let key = keys[i];
            let object = moveables[key];
            let rect = moveables[key].getBoundingClientRect();
            objectPositions[key] = {x:rect.left,y:rect.top};
        }
        let height = header.clientHeight;
        let positions = {start:0,end:-3};
        let scaler = {stump:0.1,mushroom:0.5,snail:0.05};
        let offset;
        let oldPosition = {mushroom:{x:0,y:0},snail:{x:0,y:0},stump:{x:0,y:0}};
        let mousePos = {x:0,y:0};
        let offsetTop = 0;
        document.addEventListener("mousemove",(e)=>
        {
            mousePos.x = e.screenX;
            mousePos.y = e.screenY;
            updateMouse();
        },false);
        function updateMouse()
        {
            for(let i in keys)
            {
                let key = keys[i];
                let object = moveables[key];
                let scale = scaler[key];
                let rect = moveables[key].getBoundingClientRect();
                let normalizedX = (mousePos.x - objectPositions[key].x) / window.innerWidth;
                let normalizedY = (mousePos.y - objectPositions[key].y) / window.innerHeight;
                object.style.transform = stringBuilder(
                                            "translate(",
                                            normalizedX*2*scaler[key],
                                            "em,",
                                            normalizedY*2*scaler[key],
                                            "em)"
                                        );
            }
        }
        function stringBuilder()
        {
            return Array.prototype.join.call(arguments, '');
        }
    </script>
    </body>
</html>