<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../CSS/setup.css">            
    </head>
    <body>
        <p id="fillField">
            You must fill this field
        </p>
        <div id="wrapper">
            <div id="container">
                <h4>2/2</h4>
                <h1>Website Setup</h1>
                <form id="form" method="POST" action="">
                    <div class="inputWrapper">
                        <input id="serverName" required name="serverName" placeholder="MapleNode">
                        <label for="serverName">Server Name</label>
                    </div>
                     <div class="inputWrapper">
                        <input id="version" name="version" placeholder="v62">
                        <label for="version">Version</label>               
                    </div>
                    <div class="inputWrapper">
                        <input id="downloadSetup" name="downloadSetup" placeholder="">
                        <label for="downloadSetup">Download Setup</label>               
                    </div>
                    <div class="inputWrapper">
                        <input id="downloadClient" name="downloadClient" placeholder="">
                        <label for="downloadClient">Download Client</label>               
                    </div>
                    <div class="inputWrapper">
                        <input id="exp" required name="exp" placeholder="10x">
                        <label for="exp">Exp Rate</label>                
                    </div>
                    <div class="inputWrapper">
                        <input id="drop" required name="drop" placeholder="10x">
                        <label for="drop">Drop Rate</label>
                    </div>
                    <div class="inputWrapper">
                        <input id="meso" required name="meso" placeholder="10x">
                        <label for="meso">Meso Rate</label>
                    </div>
                    <div class="inputWrapper">
                        <input id="nx" required name="nx" placeholder="MN_">
                        <label for="nx">NX column</label>
                        <p><span>?</span>What column in the database that stores the NX</p>
  
                    </div>
                    <div class="inputWrapper">
                        <input id="vp" required name="vp" placeholder="MN_">
                        <label for="vp">Vote Point column</label>
                        <p><span>?</span>What column in the database that stores the votepoints</p>
                    </div>
                    <div class="inputWrapper">
                        <input id="gmLevel" required name="gmLevel" placeholder="MN">
                        <label for="gmLevel">GameMaster panel</label>
                        <p><span>?</span>What level an gm has to be to access the panel 2-5</p>
                    </div>
                </form>
                <div class="btn next-btn">
                    <div class="btn-wrapper" id="submitForm">
                    <span>Finish</span>
                    <svg id="arrow_right" viewBox="5 5 14 14">
                            <title>keyboard_arrow_right</title>
                            <path d="M8.578 16.359l4.594-4.594-4.594-4.594 1.406-1.406 6 6-6 6z"></path>
                        </svg>   
                    </div>
                </div>            
            </div>
        </div>
    </body>
        <script>
        var form = document.getElementById("form");
        var submitForm = document.getElementById("submitForm");
        var fillField = document.getElementById("fillField");
        var size = fillField.getBoundingClientRect();
        var middle = (size.bottom - size.top) / 2;
        var inputs = form.getElementsByTagName("input");
        submitForm.addEventListener("click",function()
        {
            var canSend = true;
            for(var i = 0; i < inputs.length; i++)
            {
                if(inputs[i].value.length == 0 && inputs[i].getAttribute("required") != null)
                {
                    console.log(inputs[i]);
                    var pos = inputs[i].getBoundingClientRect();
                    //console.log(pos.);
                    fillField.style.left = "calc("+pos.right + "px + 2em)";
                    fillField.style.top = pos.top - middle + ((pos.bottom - pos.top) / 2) + window.pageYOffset + "px";
                    canSend = false;
                    break;
                }
            }
            if(canSend)
                form.submit();
        },false);
    </script>
</html>
