#control_btns
{
    display:flex;
    justify-content: space-between;
}

#control_form
{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
#control_form label
{
    display:block;
    font-family: 'Montserrat', sans-serif;
}
#control_form input
{
    max-width:30em;
    width:100%;
    margin-bottom:0em;
}
#control_form .btn
{
    max-width:11em;
}
#control_form .inputs
{
    margin-top:0em;
}
#controlError
{
    margin:0 !important;
}