<!doctype html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="../CSS/index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/media.css">   
    <link rel="stylesheet" type="text/css" href="../CSS/control.css">  
    <% include ../imports/head %>        
    <title>Dashboard</title>
    </head>
    <body>

    </body>
</html>