<%
let MENU_SITE="LOGIN";
%>
<!doctype html>
<html>
    <head>
        <%- include ("../imports/head") %>
    <style>
        #content{
            width:35em;
            margin:auto;
            position:relative;
            padding-bottom:5em;
        }
        #logo{
            width:15em;
            height:7.5em;
            background:url(../images/<%= logo %>) no-repeat;
            background-size:contain;
            background-position:50% 50%;
            margin:auto;
            margin-bottom:1em;
        }
        body{
            background-size:contain;
            background-position:50% 100%;
            background-attachment:fixed;
        }
        label, span
        {
            color:#FFF !important;
        }
        .m{
            position:fixed;
            width:30em;
            height:30em;
        }
        .ml{
            left:0;
            bottom:0;
            background:url("../images/left_bottom_monsters.png") no-repeat;
            background-size:contain;
            background-position:00% 100%;
        }
        .mr{
            right:0;
            bottom:0;
            background-size:contain;
            background: url("../images/right_bottom_monsters.png") no-repeat 100% 100%;
        }
        .btn,.btn-a a,.btn-input input {
            font-size:0.9em;
            padding-left:2em;
            padding-right:2em;
        }
    </style>
        <link rel="stylesheet" type="text/css" href="../CSS/control.css">
        <link rel="stylesheet" type="text/css" href="../CSS/menu.css">
        <link rel="stylesheet" type="text/css" href="../CSS/loginreg.css">
    </head>
        <style>
        .loader
        {
            background:#FFF;
        }
        #control_btns
        {
            display:flex;
            justify-content: space-between;
        }
        .input input
        {
            margin-bottom:0.2em;
        }
        .input select
        {
            outline:none;
        }
        #content
        {
            margin:auto;
            position:absolute;
            height:21em;
            left:0;
            right:0;
            top:0;
            bottom:0;
        }
    </style>

    <body>
    <%- include('../imports/menu.ejs') %>
        <div class="gradient"></div>
        <div class="m ml">
        </div>
        <div class="m mr">
        </div>
        <div id="content">
            <div id="logo">
            </div>
            <div id="control">
                <div class="loader" id="loginLoader">
                    <p>Loading</p>
                </div>
    <form id="loginForm">
        <div class="error" id="loginError">Error</div>
        <div class="input firstInputHolder">
            <label for="username">Username</label>
            <input id="username" class="fill" type="text" name="username" required/>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input id="password" class="fill" name="password" type="password" required/>
        </div>
        <div id="control_btns">
            <div class="btn_parent">
                <div class="btn-a btn">
                    <a href="register" class="child"><span>Register</span></a>
                </div>
            </div>
            <div class="btn_parent">
                <div class="btn btn-input">
                    <input type="submit" class="child" id="login" value="Login" />
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    let form = new FormElement("loginForm");
    let error = new ErrorElement("loginError");
    let loader = document.getElementById("loginLoader");
    form.onSubmit({preventDefault:true,body:true},(body,e)=>
    {
        loader.style.display="flex";
        setTimeout(()=>
        {
            loader.style.opacity="1";
        }, 10);
        let url = new Url("/IO/login",{username:body.username,password:body.password});
        HttpHandler.postData(url,(response)=>
        {
            console.log(response);

            loader.style.opacity="0";
            setTimeout(()=>
            {
                loader.style.display="none";
            }, 320);
            if(!response.success)
            {
                error.showError({reason:response.reason});
                return;
            }
            error.success({reason:response.reason});
            let site = "/dashboard";
            <% if(options.site) { %> site = "<% options.site %>" <% } %>
            window.location.href = site;
        });
    });
</script>
</body>
</html>
